div.cardGroup{
	border:2px solid transparent;
	display:inline-block;
}

div.cardGroup:hover{
	cursor:pointer;
}

#playedCards{
	width:60vw;
	height:383px;
	padding-top:17px;
	border-left: 1px solid #000;
	position:absolute;
	left:230px;
	
}